.order {
    color:$black;
}

.order__content {
    display: flex;
}
.order__contacts {
    width:33.333%;
}
.order__contacts__title {
    margin-bottom: 10px;

    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 700;
}
.order__contacts__work-time {
    margin-bottom: 30px;
}
.order__contacts__list {
}
.order__contacts__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.order__contacts__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 45px;
    height: 45px;
    margin-right: 20px;

    background: $green;
    border-radius: 50%;

    span {
        color:#fff;
        font-size: 20px;
    }
}
.order__contacts__data {
}
.order__contacts__type {
    padding:5px 0;

    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.1;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.order__contacts__value {
}

.order__form input{
    width: 100%;
    margin: 0 0 20px;
    line-height: 1.43;
}

.order__form{
    width: 66.666%;
}

.order__form form{
    margin-right: 40px;
    padding: 40px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

.jq-file {
    position: relative;
    display: flex;
    justify-content: space-between;

    padding: 8px 15px;
    margin: 0 0 20px;
    width: 100%;
    
    box-sizing: border-box;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    color: #868686;
    
}

.jq-file__browse {
    position: absolute;
    right: 0;
    top: 0;

    height: 100%;
    padding: 8px 15px;

    color:#fff;
    background: $green;
}

.jq-checkbox {
    position: relative;
    height: 20px;
    width: 20px;

    border-radius: 3px;
    border:1px solid #cdcdcd;
}
.jq-checkbox__div{
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border:3px solid #000;
    z-index: 10;

    opacity: 0;
}

.jq-checkbox.checked  .jq-checkbox__div{
    opacity: 1;

}